<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Number 6</title>
    <link rel="stylesheet" href="/styles.css" /> <!--- It will look for css file in root of the public folder by Express --->
</head>
<body>
    <h1>Lab-Assignment#3</h1>
    <h2>Group 6</h2>

    <div class="card-container">

        <div class="profile-card">
            <img src="/Jesbin Jobi.jpg" alt="Jesbin Jobi" /> <!--- It will look for img file in root of the public folder by Express --->
            <h2>Jesbin Jobi</h2>
            <p>ID: 200588911</p>
            <p>JavaScript Frameworks</p>
        </div>

        <div class="profile-card">
            <img src="/Rojin Babu.jpg" alt="Rojin Babu">
            <h2>Rojin Babu</h2>
            <p>ID: 200587425</p>
            <p>JavaScript Frameworks</p>
        </div>

    </div>

</body>
</html>